In [221]:
import pandas as pd
import numpy as np

In [222]:
df1 = pd.read_csv("/Users/haowu/Desktop/Boston University Graduate Study/CS 677/assignment 2/HA.csv")

In [223]:
df1.drop('Weekday', axis=1, inplace=True)
index_name = df1[(df1["Week_Number"] < 1 )].index
df1.drop(index_name, inplace = True)
df1.head()

,Date,Year,Month,Day,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA
1,2015-01-05,2015,1,5,1,2015-01,25.28,25.60,24.91,25.09,1660300.0,24.17,-0.007123,24.260,24.260
2,2015-01-06,2015,1,6,1,2015-01,25.25,25.51,23.80,24.24,2426400.0,23.36,-0.033878,23.960,23.960
3,2015-01-07,2015,1,7,1,2015-01,24.39,24.96,24.17,24.35,1139500.0,23.46,0.004538,23.835,23.835
4,2015-01-08,2015,1,8,1,2015-01,24.85,25.95,24.63,25.53,1476900.0,24.60,0.048460,23.988,23.988
5,2015-01-09,2015,1,9,1,2015-01,25.68,25.89,25.00,25.13,818500.0,24.21,-0.015668,24.025,24.025

In [224]:
Year = df1[(df1["Year"] > 2016)].index
df1.drop(Year, inplace = True)
df1.head()

,Date,Year,Month,Day,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA
1,2015-01-05,2015,1,5,1,2015-01,25.28,25.60,24.91,25.09,1660300.0,24.17,-0.007123,24.260,24.260
2,2015-01-06,2015,1,6,1,2015-01,25.25,25.51,23.80,24.24,2426400.0,23.36,-0.033878,23.960,23.960
3,2015-01-07,2015,1,7,1,2015-01,24.39,24.96,24.17,24.35,1139500.0,23.46,0.004538,23.835,23.835
4,2015-01-08,2015,1,8,1,2015-01,24.85,25.95,24.63,25.53,1476900.0,24.60,0.048460,23.988,23.988
5,2015-01-09,2015,1,9,1,2015-01,25.68,25.89,25.00,25.13,818500.0,24.21,-0.015668,24.025,24.025

In [225]:
df2 = df1[(df1["Year"] == 2015)]
df2

,Date,Year,Month,Day,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA
1,2015-01-05,2015,1,5,1,2015-01,25.28,25.60,24.91,25.09,1660300.0,24.17,-0.007123,24.260000,24.2600
2,2015-01-06,2015,1,6,1,2015-01,25.25,25.51,23.80,24.24,2426400.0,23.36,-0.033878,23.960000,23.9600
3,2015-01-07,2015,1,7,1,2015-01,24.39,24.96,24.17,24.35,1139500.0,23.46,0.004538,23.835000,23.8350
4,2015-01-08,2015,1,8,1,2015-01,24.85,25.95,24.63,25.53,1476900.0,24.60,0.048460,23.988000,23.9880
5,2015-01-09,2015,1,9,1,2015-01,25.68,25.89,25.00,25.13,818500.0,24.21,-0.015668,24.025000,24.0250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2015-12-24,2015,12,24,51,2015-51,37.09,37.75,37.00,37.15,435700.0,35.79,-0.004822,36.495714,34.7782
248,2015-12-28,2015,12,28,52,2015-52,37.45,37.69,36.33,37.09,743700.0,35.74,-0.001615,36.336429,34.9294
249,2015-12-29,2015,12,29,52,2015-52,37.09,37.72,37.02,37.40,634700.0,36.04,0.008358,36.244286,35.0796
250,2015-12-30,2015,12,30,52,2015-52,37.50,37.50,36.30,36.48,782000.0,35.15,-0.024599,36.163571,35.1852
251,2015-12-31,2015,12,31,52,2015-52,36.28,36.43,35.20,35.33,923000.0,34.04,-0.031524,35.960000,35.2614

In [226]:
df3 = df1[(df1["Year"] == 2016)]
df3 = df3.reset_index(drop=True)
df3

,Date,Year,Month,Day,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA
0,2016-01-04,2016,1,4,1,2016-01,34.43,34.45,32.52,32.81,2235000.0,31.61,-0.071328,35.627857,35.2602
1,2016-01-05,2016,1,5,1,2016-01,32.50,32.76,31.32,32.03,2275300.0,30.86,-0.023773,35.216429,35.2338
2,2016-01-06,2016,1,6,1,2016-01,31.32,33.44,31.20,32.53,1398300.0,31.34,0.015610,34.855000,35.1892
3,2016-01-07,2016,1,7,1,2016-01,31.76,32.98,31.56,32.28,1634900.0,31.10,-0.007685,34.422857,35.1254
4,2016-01-08,2016,1,8,1,2016-01,32.30,33.60,31.86,31.94,1327600.0,30.77,-0.010533,34.018571,35.0642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2016-12-23,2016,12,23,51,2016-51,59.20,60.25,59.05,59.50,476700.0,57.33,0.002527,55.037143,48.8838
248,2016-12-27,2016,12,27,52,2016-52,59.35,59.75,59.18,59.60,394400.0,57.43,0.001681,55.481429,49.0902
249,2016-12-28,2016,12,28,52,2016-52,59.80,60.00,57.95,58.00,550500.0,55.88,-0.026846,55.742857,49.2762
250,2016-12-29,2016,12,29,52,2016-52,58.10,59.00,57.80,58.20,579200.0,56.08,0.003448,55.863571,49.4516
251,2016-12-30,2016,12,30,52,2016-52,58.30,58.53,56.65,57.00,590900.0,54.92,-0.020619,55.880714,49.6268

In [227]:
data1 = df2.groupby(['Week_Number'])['Open','Close'].mean()
data1 = data1.assign(True_Label = "")
data1

<ipython-input-227-97fad57617b7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data1 = df2.groupby(['Week_Number'])['Open','Close'].mean()

                Open    Close True_Label
Week_Number
1            25.0900  24.8680
2            24.3200  24.1380
3            25.1850  25.6225
4            25.7580  25.2980
5            19.2460  18.9640
6            18.7240  18.7280
7            18.6225  18.5300
8            18.9420  18.9320
9            18.5920  18.7860
10           19.0360  19.1280
11           20.3620  20.6000
12           21.1980  21.3220
13           21.7775  21.7375
14           21.4140  21.4120
15           21.3560  21.3180
16           21.9180  22.2320
17           23.6280  23.6740
18           23.8700  24.0360
19           24.9900  25.0900
20           25.1500  24.9320
21           24.5850  24.3225
22           23.9500  23.9220
23           22.4420  22.3840
24           23.2860  23.6120
25           24.4620  24.3880
26           23.4925  23.3175
27           23.3860  23.5340
28           24.2920  24.2320
29           23.9660  23.4920
30           21.4900  21.6900
31           22.9620  23.2940
32           24.9780  25.1740
33           25.2200  25.0600
34           22.2860  22.5000
35           22.9920  23.2140
36           24.3725  24.6875
37           25.0440  25.0180
38           24.4420  24.3400
39           24.2980  24.2660
40           25.1500  25.5380
41           28.2500  28.6180
42           31.8100  32.6960
43           34.9820  35.0280
44           35.9820  36.5040
45           36.3540  35.8620
46           35.7200  36.1720
47           36.9175  36.7650
48           37.4540  37.4520
49           38.5520  38.3440
50           38.0320  37.8360
51           37.3400  37.3500
52           37.0800  36.5750

In [228]:
data2 = df3.groupby(['Week_Number'])['Open','Close'].mean()
data2 = data2.assign(True_Label = "")
data2

<ipython-input-228-c36df91f9901>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data2 = df3.groupby(['Week_Number'])['Open','Close'].mean()

                Open    Close True_Label
Week_Number
1            32.4620  32.3180
2            31.4980  31.3780
3            31.0950  30.9550
4            34.1640  34.0040
5            34.5400  33.9000
6            32.7860  33.9300
7            37.9125  38.5050
8            41.7560  42.1540
9            43.7640  44.3140
10           44.9420  44.9600
11           45.5640  45.8080
12           46.1425  46.4450
13           46.4560  46.7100
14           47.2240  47.7560
15           49.1000  49.2860
16           49.9640  48.8780
17           43.9740  43.5500
18           41.7340  41.8640
19           42.3100  42.1780
20           41.8500  41.7560
21           41.6000  41.5140
22           40.4375  40.0925
23           40.5120  40.7840
24           37.3260  36.6220
25           36.1500  36.2200
26           37.4120  37.6660
27           39.0125  39.9800
28           43.9340  43.9940
29           43.9640  44.3900
30           46.2200  45.7400
31           45.1500  45.0860
32           44.8360  44.5740
33           44.6500  44.7640
34           45.4080  45.4880
35           46.5020  46.8900
36           48.5175  48.3425
37           47.0040  46.8600
38           46.8180  46.9140
39           47.8080  48.0060
40           50.2500  50.3540
41           48.9980  48.8640
42           48.5680  48.1620
43           46.2760  45.8780
44           44.8500  45.0160
45           46.8400  47.0360
46           47.5100  48.2100
47           51.4250  51.8500
48           51.6500  51.4800
49           53.8200  54.4800
50           56.4400  56.4100
51           59.0000  59.4200
52           58.8875  58.2000

In [229]:
def Compare(a,b):
    if a > b:
        return "Buy"
    else:
        return "Hold"

In [230]:
data1['True_Label'] = data1.apply(lambda data1 : Compare(data1['Open'],data1['Close']),axis = 1)
data1

                Open    Close True_Label
Week_Number
1            25.0900  24.8680        Buy
2            24.3200  24.1380        Buy
3            25.1850  25.6225       Hold
4            25.7580  25.2980        Buy
5            19.2460  18.9640        Buy
6            18.7240  18.7280       Hold
7            18.6225  18.5300        Buy
8            18.9420  18.9320        Buy
9            18.5920  18.7860       Hold
10           19.0360  19.1280       Hold
11           20.3620  20.6000       Hold
12           21.1980  21.3220       Hold
13           21.7775  21.7375        Buy
14           21.4140  21.4120        Buy
15           21.3560  21.3180        Buy
16           21.9180  22.2320       Hold
17           23.6280  23.6740       Hold
18           23.8700  24.0360       Hold
19           24.9900  25.0900       Hold
20           25.1500  24.9320        Buy
21           24.5850  24.3225        Buy
22           23.9500  23.9220        Buy
23           22.4420  22.3840        Buy
24           23.2860  23.6120       Hold
25           24.4620  24.3880        Buy
26           23.4925  23.3175        Buy
27           23.3860  23.5340       Hold
28           24.2920  24.2320        Buy
29           23.9660  23.4920        Buy
30           21.4900  21.6900       Hold
31           22.9620  23.2940       Hold
32           24.9780  25.1740       Hold
33           25.2200  25.0600        Buy
34           22.2860  22.5000       Hold
35           22.9920  23.2140       Hold
36           24.3725  24.6875       Hold
37           25.0440  25.0180        Buy
38           24.4420  24.3400        Buy
39           24.2980  24.2660        Buy
40           25.1500  25.5380       Hold
41           28.2500  28.6180       Hold
42           31.8100  32.6960       Hold
43           34.9820  35.0280       Hold
44           35.9820  36.5040       Hold
45           36.3540  35.8620        Buy
46           35.7200  36.1720       Hold
47           36.9175  36.7650        Buy
48           37.4540  37.4520        Buy
49           38.5520  38.3440        Buy
50           38.0320  37.8360        Buy
51           37.3400  37.3500       Hold
52           37.0800  36.5750        Buy

In [231]:
data2['True_Label'] = data2.apply(lambda data2 : Compare(data2['Open'],data2['Close']),axis = 1)
data2

                Open    Close True_Label
Week_Number
1            32.4620  32.3180        Buy
2            31.4980  31.3780        Buy
3            31.0950  30.9550        Buy
4            34.1640  34.0040        Buy
5            34.5400  33.9000        Buy
6            32.7860  33.9300       Hold
7            37.9125  38.5050       Hold
8            41.7560  42.1540       Hold
9            43.7640  44.3140       Hold
10           44.9420  44.9600       Hold
11           45.5640  45.8080       Hold
12           46.1425  46.4450       Hold
13           46.4560  46.7100       Hold
14           47.2240  47.7560       Hold
15           49.1000  49.2860       Hold
16           49.9640  48.8780        Buy
17           43.9740  43.5500        Buy
18           41.7340  41.8640       Hold
19           42.3100  42.1780        Buy
20           41.8500  41.7560        Buy
21           41.6000  41.5140        Buy
22           40.4375  40.0925        Buy
23           40.5120  40.7840       Hold
24           37.3260  36.6220        Buy
25           36.1500  36.2200       Hold
26           37.4120  37.6660       Hold
27           39.0125  39.9800       Hold
28           43.9340  43.9940       Hold
29           43.9640  44.3900       Hold
30           46.2200  45.7400        Buy
31           45.1500  45.0860        Buy
32           44.8360  44.5740        Buy
33           44.6500  44.7640       Hold
34           45.4080  45.4880       Hold
35           46.5020  46.8900       Hold
36           48.5175  48.3425        Buy
37           47.0040  46.8600        Buy
38           46.8180  46.9140       Hold
39           47.8080  48.0060       Hold
40           50.2500  50.3540       Hold
41           48.9980  48.8640        Buy
42           48.5680  48.1620        Buy
43           46.2760  45.8780        Buy
44           44.8500  45.0160       Hold
45           46.8400  47.0360       Hold
46           47.5100  48.2100       Hold
47           51.4250  51.8500       Hold
48           51.6500  51.4800        Buy
49           53.8200  54.4800       Hold
50           56.4400  56.4100        Buy
51           59.0000  59.4200       Hold
52           58.8875  58.2000        Buy

In [294]:
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

In [295]:
X_train = data1[['Open', 'Close']].values
X_test = data2[['Open','Close']].values
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X_train)
Y_train = data1['True_Label'].values
Y_test = data2['True_Label'].values
svm_classifier=svm.SVC(kernel='linear')
svm_classifier.fit(X,Y_train)
predicted = svm_classifier.predict(X_test) 
accuracy = svm_classifier.score(X, Y_test)
accuracy

0.46153846153846156

In [296]:
confusion_matrix(Y_test, predicted)

array([[23,  0],
       [11, 18]])

In [299]:
tn, fp, fn, tp = confusion_matrix(Y_test,predicted).ravel()
(tn, fp, fn, tp)

(23, 0, 11, 18)

In [300]:
X_train = data1[['Open', 'Close']].values
X_test = data2[['Open','Close']].values
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X_train)
Y_train = data1['True_Label'].values
Y_test = data2['True_Label'].values
svm_classifier=svm.SVC(kernel='rbf')
svm_classifier.fit(X,Y_train)
predicted1 = svm_classifier.predict(X_test) 
accuracy2 = svm_classifier.score(X, Y_test)
accuracy2

0.46153846153846156

In [301]:
X_train = data1[['Open', 'Close']].values
X_test = data2[['Open','Close']].values
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X_train)
Y_train = data1['True_Label'].values
Y_test = data2['True_Label'].values
svm_classifier = svm.SVC(kernel='poly', degree=2)
svm_classifier.fit(X,Y_train)
predicted2 = svm_classifier.predict(X_test) 
accuracy3 = svm_classifier.score(X, Y_test)
accuracy3

0.5

In [240]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [241]:
#random forest classifier
X_train = data1[['Open', 'Close']].values
X_test = data2[['Open', 'Close']].values
Y_train= data1[['True_Label']].values
Y_test= data2[['True_Label']].values

In [248]:
def random_function(N,d):
    model = RandomForestClassifier(n_estimators=N, max_depth=d, criterion='entropy')
    model.fit(X_train , Y_train)
    prediction = model.predict(X_test) 
    error_rate = np.mean(prediction != Y_test)
    print(error_rate)

In [328]:
N = [1,2,3,4,5,6,7,8,9,10]
d = [1,2,3,4,5]
for i in N:
    for j in d:
        print(min(random_function(i,j)))

0.5576923076923077

TypeError: 'NoneType' object is not iterable

In [330]:
model = RandomForestClassifier(n_estimators=2, max_depth=2, criterion='entropy')
model.fit(X_train , Y_train)
prediction = model.predict(X_test) 
error_rate = np.mean(prediction != Y_test)
print(error_rate)

0.5576923076923077

In [331]:
confusion_matrix(Y_test, prediction)

array([[23,  0],
       [29,  0]])