In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("/Users/haowu/Desktop/Boston University Graduate Study/2022 SPRING/MET CS 688/1/geoMap.csv")
df.head()

                                                                       Category: All categories
Region        gift for boyfriend: (2/14/13 - 2/14/18)  gift for girlfriend: (2/14/13 - 2/14/18)
New Hampshire 100                                                                            50
New York      99                                                                             58
South Dakota  88                                                                             <1
Hawaii        87                                                                             49

In [ ]:
df2 = df[,3]